address-tooltip()
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  width: 400px
  height: 218px
  border: 1px solid #ccc
  background-color: #fff
  z-index: 2000
  padding: 20px 17px
  box-sizing: border-box
  .tooltip-title
    text-align: center
    font-weight: bold
    margin-bottom: 25px
  .tooltip-top
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
  .tooltip-middle
    margin-top: 19px
    height: 50px
  .tooltip-bottom
    margin-top: 20px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
  .tooltip-bottom-center
    margin-top: 20px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

address-tooltip-edit()
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  width: 450px
  height: 230px
  border: 1px solid #ccc
  background-color: #fff
  z-index: 2000
  padding: 20px 17px
  box-sizing: border-box
  .tooltip-title
    text-align: center
    font-weight: bold
    margin-bottom: 25px
  .tooltip-top
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
  .tooltip-middle
    margin-top: 19px
  .tooltip-bottom
    margin-top: 20px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center