 /**
 * 通用css样式布局处理
 */

 /** 基础通用 **/
 .pt5 {
	padding-top: 5px;
}
.pr5 {
	padding-right: 5px;
}
.pb5 {
	padding-bottom: 5px;
}
.mt5 {
	margin-top: 5px;
}
.mr5 {
	margin-right: 5px;
}
.mb5 {
	margin-bottom: 5px;
}
.mb8 {
	margin-bottom: 8px;
	height: 30px;
	line-height: 30px;
}
.ml5 {
	margin-left: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mr10 {
	margin-right: 10px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb12 {
	margin-bottom: 12px;
}
.ml0 {
	margin-left: 10px;
}
.ml20 {
	margin-left: 20px;
}
.mt20 {
	margin-top: 20px;
}
.mr20 {
	margin-right: 20px;
}
.mb20 {
	margin-bottom: 20px;
}
.m20 {
	margin-left: 20px;
}
.f14{
	font-size: 14px;
}

.play_content{
	height: 500px;
	overflow: auto;
}


/* image */
.img-circle {
	border-radius: 50%;
}

.img-lg {
	width: 120px;
	height: 120px;
}

/* 拖拽列样式 */
.sortable-ghost{
	opacity: .8;
	color: #fff!important;
	background: #42b983!important;
}

.top-right-btn {
	position: relative;
	float: right;
}
.field{
    // padding-top: 20px;
    margin-bottom:8px;
    border:1px dotted #BDBBBB;
    border-radius:4px
}
.order_basic_info{
	position: relative;
	// padding-bottom: 10px;
	text-align: center;
	.title{
		font-size: 20px;
		color:#3894FF
	}
	.tag {
		position: absolute;
		right: 0;
		top: 0;
	}
}
.btn_icon_svg{
	width: 12px!important;
	height: 12px!important;
	margin-top: -4px!important;
}
.downloadSty {
	margin: 0 15px;
	cursor: pointer;
}
.table_input {
	width:100%;
	border:none;
	outline:none;
	text-align:center
}